:root {
    --bardDarkBlue: rgb(4, 28, 50);
    --darkblue: #04293A;
    --lighterBlue: #0D19AB;
    --yellow: rgb(236, 179, 101);
    --green: #15DB95;
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --pink: #f57dff;
    --blue: #57cbff;
}

.contact {
    position: fixed;
    width: 90vw;
    height: 80vh;
    left: 5vw;
    top: 10vh;
    margin: auto;
    z-index: 4;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--green);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.send-message {
    position: absolute;
    height: 40px;
    width: 120px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--green);
    color: var(--green);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

form {
    margin: 10px;
}

input,
textarea {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--green);
    color: var(--green);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

textarea {
    width: 95%;
    height: 30vh;
    margin: auto;
}

.contact-form-animation {
    animation: contact-element-slide 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation: contact-element-slide 0.5s;
}

.bluring-animation {
    animation: bluring 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation: bluring 0.5s;
}

@keyframes contact-element-slide {
    0% {
        width: 0;
    }
    100% {
        width: 90vw;
    }
}

@keyframes bluring {
    0% {
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }
    100% {
        filter: blur(4px);
        -webkit-filter: blur(4px);
    }
}