@font-face {
    font-family: sono;
    src: url(/fonts/sono/Sono-VariableFont_MONO.ttf);
}


/* ============  DESCRIBE ============ */

.main-describe {
    width: 100%;
    height: 500px;
}

.describe-1,
.describe-3,
.describe-2,
.describe-4 {
    border-radius: 20px;
    margin-bottom: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.gru {
    padding-left: 15px;
}

.down-arrow-wrapper {
    position: relative;
    height: 200px;
    width: 100%;
    margin-top: 50px;
}

.down-arrow {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    animation: down-arrow-bounce 2s infinite;
    -webkit-animation: down-arrow-bounce 2s infinite;
}

.scroll-down {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.scroll-down-wrapper {
    display: flex;
    flex-direction: column;
}

.down-arrow-awesome {
    margin-top: 10px;
}

.color-white {
    color: white;
}