:root {
    --bardDarkBlue: rgb(4, 28, 50);
    --darkblue: #04293A;
    --lighterBlue: #0D19AB;
    --yellow: rgb(236, 179, 101);
    --green: #15DB95;
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --pink: rgb(245, 125, 255);
    --blue: #57cbff;
}

.preloader {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: var(--navy);
    z-index: 10;
    color: var(--blue);
    animation: loading-background 2s forwards;
    -webkit-animation: loading-background 2s forwards;
    animation-delay: 3s;
}

.loader-wrapper {
    top: 50vh;
    position: absolute;
    left: 50vw;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    animation: loading-loader 2s forwards;
    -webkit-animation: loading-loader 2s forwards;
    animation-delay: 3s;
}

.loader {
    height: 3px;
    background-color: var(--green);
    animation: loading 4s linear forwards;
    -webkit-animation: loading 4s linear forwards;
}

@keyframes loading {
    0% {
        width: 0px;
    }
    100% {
        width: 150px
    }
}

@keyframes loading-loader {
    0% {}
    100% {
        left: -100vw
    }
}

@keyframes loading-background {
    0% {}
    100% {
        background-color: rgba(4, 28, 50, 0)
    }
}