.down-arrow-wrapper {
    display: none;
}

.introduce-avatar-wrapper {
    display: flex;
    justify-content: space-between;
}

.gru {
    font-size: 2rem
}

.content-wrapper {
    position: absolute;
    height: calc(100vh - 82px);
    overflow: hidden;
}

.introduce {
    font-family: roboto;
    font-size: 4rem;
    line-height: 2rem;
}

.introduce-shadow {
    text-shadow: 3px 3px 0px #ff018c;
}

.introduce-wrapper,
.description {
    margin-left: 40px
}

.worldmap {
    background-image: url('../img/world.svg');
    height: 400px;
    width: 600px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar {
    display: none;
}

.medium-content-element {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.describe-1 {
    display: flex;
    flex-direction: row;
    height: 400px;
    margin: auto;
    width: 100%;
}

.describe-1-right-element,
.describe-1-left-element {
    width: 50%;
    position: relative;
    width: 40%;
}

.no-display-768 {
    display: none
}

.medium-avatar {
    position: relative;
    display: block;
    height: 400px;
    width: 100%;
    color: #ffffff;
    background-image: url('../img/Mountain.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.main-content-wrapper {
    height: 100%;
}