@font-face {
    font-family: sono;
    src: url(/fonts/sono/Sono-VariableFont_MONO.ttf);
}

:root {
    --bardDarkBlue: rgb(4, 28, 50);
    --darkblue: #04293A;
    --lighterBlue: #0D19AB;
    --yellow: rgb(236, 179, 101);
    --green: #15DB95;
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --pink: #f57dff;
    --blue: #57cbff;
}

.menu-medium,
.worldmap,
.pilch,
.hidden-in-mobile,
.icons,
.wrong-resolution,
.medium-avatar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--navy);
    overflow-x: hidden;
    font-family: 'sono'
}

.content-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: calc(100% - 22px);
    top: 82px;
    margin-left: 11px;
    margin-right: 11px;
    background-color: var(--navy);
    z-index: 2;
    overflow-x: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.avatar {
    position: relative;
    height: 70px;
    width: 70px;
    background-image: url('../img/gru.jpg');
    background-size: cover;
    margin-left: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.footer {
    line-height: 2rem;
    height: 30px;
    text-align: center;
    color: darkgrey;
    margin-bottom: 20px;
}