:root {
    --bardDarkBlue: #041C32;
    --darkblue: #04293A;
    --lighterBlue: #064663;
    --yellow: #ECB365;
}


/* ===============reset================ */

.header-wrapper-medium,
.header-wrapper-medium-element {
    display: none;
}

.menu-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
}

.menu-element {
    position: absolute;
    top: -20vh;
    left: 50vw;
    transform: translate(-50%);
    z-index: 3;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.menu-element i {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.close-menu-element {
    width: 70px;
    height: 70px;
    z-index: 4;
    font-size: 70px;
}

.menu-element-small {
    position: absolute;
    top: -20vh;
    left: 50vw;
    transform: translate(-50%);
    top: 70vh;
    width: 40px;
    height: 40px;
    font-size: 40px;
    z-index: 3;
}

.menu-element-small i {
    display: block;
    margin: auto;
    /* left: 50%; */
}


/* =========== OPEN ANIMATIONS  =========== */

.menu-animation {
    animation: menu-element-animation 0.5s;
    -webkit-animation: menu-element-animation 0.5s;
    animation-fill-mode: forwards;
}

.menu-animation-top-element {
    animation: menu-element-animation-top-element 0.5s;
    -webkit-animation: menu-element-animation-top-element 0.5s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
}

.menu-animation-left-element {
    animation: menu-element-animation-left-element 0.5s;
    animation-fill-mode: forwards;
}

.menu-animation-right-element {
    animation: menu-element-animation-right-element 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes menu-element-animation {
    0% {}
    100% {
        top: 70vh
    }
}

@keyframes menu-element-animation-top-element {
    0% {}
    100% {
        top: 55vh
    }
}

@keyframes menu-element-animation-left-element {
    0% {}
    100% {
        top: 62vh;
        left: 25vw;
    }
}

@keyframes menu-element-animation-right-element {
    0% {}
    100% {
        top: 62vh;
        left: 75vw;
    }
}


/* =========== CLOSE ANIMATIONS =========== */

.close-menu-after-envelope-clicked {
    animation: envelope-clicked 0.5s;
    animation-fill-mode: forwards;
    -webkit-animation: envelope-clicked 0.5s;
}

@keyframes envelope-clicked {
    0% {
        left: 0
    }
    100% {
        left: 80vw
    }
}