:root {
    --bardDarkBlue: rgb(4, 28, 50);
    --darkblue: #04293A;
    --lighterBlue: #0D19AB;
    --yellow: rgb(236, 179, 101);
    --green: #15DB95;
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --pink: #f57dff;
    --blue: #57cbff;
}

.menu-wrapper {
    position: absolute;
}

.header-wrapper {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 56px;
    margin-top: 16px;
    z-index: 4;
    color: var(--green);
}

.header-blur {
    position: fixed;
    width: 100vw;
    height: 72px;
    z-index: 3;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    overflow-y: hidden;
}

.burger {
    position: relative;
    font-size: 40px;
    line-height: 56px;
    height: 56px;
}

.burger-right {
    margin-left: 20px;
}

.burger-left {
    margin-right: 20px;
}