@font-face {
    font-family: sono;
    src: url(/fonts/sono/Sono-VariableFont_MONO.ttf);
}

:root {
    --bardDarkBlue: rgb(4, 28, 50);
    --darkblue: #04293A;
    --lighterBlue: #0D19AB;
    --yellow: rgb(236, 179, 101);
    --green: #15DB95;
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --pink: #f57dff;
    --blue: #57cbff;
}


/* =========== Portfolio ============== */

.portfolio-projects {
    height: 500px;
}

.portfolio-wrapper {
    height: 100%;
}

.button-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    /* flex-grow: 1; */
    align-items: stretch;
    width: 90vw;
    height: 32px;
    margin: auto;
}

.project_button {
    background: none;
    color: darkgrey;
    border: none;
    flex-grow: 1;
    border-bottom: 1px solid darkgrey;
    padding: 0;
}

.active-project_button {
    color: var(--green);
    border-bottom: 1px solid var(--green);
    background-color: rgba(169, 169, 169, 0.3);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.project-button-animation {
    animation: project-button-animation 0.6s;
    -webkit-animation: project-button-animation 0.6s;
}

@keyframes project-button-animation {
    0% {}
    75% {
        background-color: rgba(169, 169, 169);
    }
    100% {
        background-color: rgba(169, 169, 169, 0.3);
    }
}

.project-elements-wrapper {
    width: 95vw;
    height: 90%;
    position: relative;
    margin-top: 10px;
}

.project_element {
    position: absolute;
    width: 100%;
    height: 85%;
    margin: auto;
}

.commerce,
.chat,
.restaurant,
.stones {
    background-size: cover;
    left: -100vw;
    display: flex;
    flex-direction: column;
}

.project-element-top-container,
.project-element-bottom-container {
    height: 50%;
    width: 95%;
}

.project-element-top-container {
    display: flex;
}

.top-left-container,
.top-right-container {
    height: 100%;
    width: 50%;
}

.top-left-container {
    background-size: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.top-right-container {
    box-sizing: border-box;
    padding-left: 20px;
    width: calc(50% - 20px);
}

.top-right-container span {
    margin-right: 10px
}

.project-element-bottom-container {
    padding-top: 10px;
}

.project-element__bottom {
    margin-top: 5px;
    position: absolute;
    display: flex;
    height: 10%;
    width: 100%;
    border-bottom: 1px solid var(--green);
    bottom: 0;
}

.javascript,
.python,
.react,
.redux,
.django,
.bootstrap {
    margin-right: 10px;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.javascript {
    background-image: url('../img/svg/logo-javascript.svg');
}

.python {
    background-image: url('../img/svg/python.svg');
}

.react {
    background-image: url('../img/svg/react-2.svg');
}

.redux {
    background-image: url('../img/svg/redux.svg');
}

.django {
    background-image: url('../img/svg/django.svg');
    background-size: 80%;
}

.bootstrap {
    background-image: url('../img/svg/bootstrap-4.svg');
}

.commerce,
.chat,
.restaurant,
.stones {
    background-size: cover;
    left: -100vw;
    display: flex;
    flex-direction: column;
}

.commerce-bg {
    background-image: url('../img/Online-shop_button.jpg');
}

.chat-bg {
    background-image: url('../img/chat.jpg');
}

.restaurant-bg {
    background-image: url('../img/restaurant.jpg');
}

.stones-bg {
    background-image: url('../img/stones.jpg');
}

.project_element_disappear {
    animation: project_element_disappear 0.6s;
    -webkit-animation: project_element_disappear 0.6s;
    animation-fill-mode: forwards;
}

.project_element_appear {
    animation: project_element_appear 0.6s;
    -webkit-animation: project_element_appear 0.6s;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
}

.active-project-element {
    left: 0;
}

.project_element_bottom_appear {
    animation: project_element_bottom_appear 0.6s;
    -webkit-animation: project_element_bottom_appear 0.6s;
    animation-fill-mode: forwards;
    animation-delay: 0.6s;
}

.project_element_bottom_disappear {
    animation: project_element_bottom_disappear 0.6s;
    -webkit-animation: project_element_bottom_disappear 0.6s;
    animation-fill-mode: forwards;
}

.project-element__bottom {
    left: 100vw
}

.active-project-element__bottom {
    left: 0;
}

@keyframes project_element_disappear {
    0% {
        left: 0
    }
    100% {
        left: -100vw
    }
}

@keyframes project_element_appear {
    0% {
        left: -100vw
    }
    100% {
        left: 0
    }
}

@keyframes project_element_bottom_appear {
    0% {
        left: 100vw
    }
    100% {
        left: 0
    }
}

@keyframes project_element_bottom_disappear {
    0% {
        left: 0
    }
    100% {
        left: 100vw
    }
}