:root {
    --bardDarkBlue: rgb(4, 28, 50);
    --darkblue: #04293A;
    --lighterBlue: #0D19AB;
    --yellow: rgb(236, 179, 101);
    --green: #15DB95;
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --pink: #f57dff;
    --blue: #57cbff;
}

.blur {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.hidden {
    display: none;
}

.overflowY-hidden {
    overflow-y: hidden;
}

.green-font {
    color: var(--green);
}

.slate-font {
    color: var(--slate);
}

.pink-font {
    color: var(--pink)
}

.small-font {
    font-size: 1rem
}

.medium-font {
    font-size: 1.3rem
}

.big-font {
    font-size: 2rem
}